* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  margin: 2rem;
}

.App label {
  display: inline-block;
  margin-bottom: 1rem;
}

.App label button {
  margin-left: 1rem;
}